Automation Anywhere/Bots/My Docs/Utilities/Sabre Web Services/InventoryManageGroupsRQv2.0.0/GroupsRQRS_v2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/css/ssi/groups/v1.0.0" version="2.0.0" jaxb:version="2.0" xmlns="http://services.sabre.com/css/ssi/groups/v1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:stlp="http://services.sabre.com/STL_Payload/v02_00" xmlns:gr="http://services.sabre.com/css/ssi/enumerations/v1.0.0" xmlns:rst="http://services.sabre.com/css/ssi/rulessimpletypes/v1.0.0" xmlns:rct="http://services.sabre.com/css/ssi/rulescommontypes/v1.0.0">
  <xsd:import namespace="http://services.sabre.com/STL_Payload/v02_00" schemaLocation="STL2_Payload_v02_00.xsd"/>
  <xsd:import namespace="http://services.sabre.com/css/ssi/enumerations/v1.0.0" schemaLocation="Enumerations_v2.0.0.xsd"/>
  <xsd:import namespace="http://services.sabre.com/css/ssi/rulessimpletypes/v1.0.0" schemaLocation="RulesSimpleTypes_v2.0.0.xsd"/>
  <xsd:import namespace="http://services.sabre.com/css/ssi/rulescommontypes/v1.0.0" schemaLocation="RulesCommonTypes_v2.0.0.xsd"/>
  <xsd:element name="GetGroupsRQ" type="GetGroupsRequest">
    <xsd:annotation>
      <xsd:documentation>name - GetGroupsRQ, type - GetGroupsRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddGroupRQ" type="AddGroupRequest">
    <xsd:annotation>
      <xsd:documentation>name - AddGroupRQ, type - AddGroupRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddAgentRQ" type="AddAgentRequest">
    <xsd:annotation>
      <xsd:documentation>name - AddAgentRQ, type - AddAgentRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UpdateGroupRQ" type="UpdateGroupRequest">
    <xsd:annotation>
      <xsd:documentation>name - UpdateGroupRQ, type - UpdateGroupRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeleteGroupRQ" type="DeleteGroupRequest">
    <xsd:annotation>
      <xsd:documentation>name - DeleteGroupRQ, type - DeleteGroupRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddLocationRQ" type="AddLocationRequest">
    <xsd:annotation>
      <xsd:documentation>name - AddLocationRQ, type - AddLocationRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeleteLocationRQ" type="DeleteLocationRequest">
    <xsd:annotation>
      <xsd:documentation>name - DeleteLocationRQ, type - DeleteLocationRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UpdateLocationRQ" type="UpdateLocationRequest">
    <xsd:annotation>
      <xsd:documentation>name - UpdateLocationRQ, type - UpdateLocationRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GetLocationsRQ" type="GetLocationsRequest">
    <xsd:annotation>
      <xsd:documentation>name - GetLocationsRQ, type - GetLocationsRequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GetGroupsRS" type="GetGroupsResponse">
    <xsd:annotation>
      <xsd:documentation>name - GetGroupsRS, type - GetGroupsResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddGroupRS" type="AddGroupResponse">
    <xsd:annotation>
      <xsd:documentation>name - AddGroupRS, type - AddGroupResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddAgentRS" type="AddGroupResponse">
    <xsd:annotation>
      <xsd:documentation>name - AddAgentRS, type - AddGroupResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="UpdateGroupRS" type="UpdateGroupResponse">
    <xsd:annotation>
      <xsd:documentation>name - UpdateGroupRS, type - UpdateGroupResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GetLocationsRS" type="GetLocationsResponse">
    <xsd:annotation>
      <xsd:documentation>name - GetLocationsRS, type - GetLocationsResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DeleteGroupRS" type="DeleteGroupResponse">
    <xsd:annotation>
      <xsd:documentation>name - DeleteGroupRS, type - DeleteGroupResponse</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AddLocationRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - AddLocationRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="LocationGroupId" type="rst:LocationGroupId" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - LocationGroupId, type - LocationGroupId from simple types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Za-z0-9 .,/-\\']{0,49}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LocationLevel" type="gr:LocationLevel">
            <xsd:annotation>
              <xsd:documentation>name - LocationLevel, type - LocationLevel from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateLocationRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - UpdateLocationRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="LocationGroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - LocationGroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Za-z0-9 .,/-\\']{0,49}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LocationLevel" type="gr:LocationLevel" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - LocationLevel, type - LocationLevel from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="AssociateChild" type="rct:Location" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>name - AssociateChild, type - Location from common types</xsd:documentation>
                <xsd:appinfo>
                  <jaxb:property name="AssociateChildren"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="UnAssociateChild" type="rct:Location" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>name - UnAssociateChild, type - Location from common types</xsd:documentation>
                <xsd:appinfo>
                  <jaxb:property name="UnAssociateChildren"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeleteLocationRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - DeleteLocationRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="LocationGroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - LocationGroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="LocationLevel" type="gr:LocationLevel" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - LocationLevel, type - LocationLevel from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetLocationsRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - GetLocationsRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="LocationGroupId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - LocationGroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Depth">
            <xsd:annotation>
              <xsd:documentation>Depth Can be unlimited or any valid positive integer number.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="unlimited|[0-9]+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Level" type="gr:LocationLevel">
            <xsd:annotation>
              <xsd:documentation>name - Level, type - LocationLevel from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetGroupsRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - GetGroupsRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Depth">
            <xsd:annotation>
              <xsd:documentation>Depth Can be unlimited or any valid positive integer number.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="unlimited|[0-9]+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddGroupRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - AddGroupRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="rct:GroupIdForRequest" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - GroupIdForRequest from common types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Za-z0-9 .,/-\\']{0,49}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddAgentRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - AddAgentRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="AgentCarrierCode" type="rst:AirlineCarrier" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - AgentCarrierCode, type - AirlineCarrier from simple types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AgentId" minOccurs="1" type="rst:AgentId">
            <xsd:annotation>
              <xsd:documentation>name - AgentId, type - AgentId from simple types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="AgentHomeCity" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - AgentHomeCity</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Z]{3}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Description" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Za-z0-9 .,/-\\']{0,49}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateGroupRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - UpdateGroupRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Description" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - Description</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Za-z0-9 .,/-\\']{0,49}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="AssociateChild" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>name - AssociateChild, type - string</xsd:documentation>
                <xsd:appinfo>
                  <jaxb:property name="AssociateChildren"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="UnAssociateChild" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>name -Un AssociateChild, type - string</xsd:documentation>
                <xsd:appinfo>
                  <jaxb:property name="UnAssociateChildren"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeleteGroupRequest">
    <xsd:annotation>
      <xsd:documentation>Complex type - DeleteGroupRequest</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsRequestBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetLocationsResponse">
    <xsd:annotation>
      <xsd:documentation>Complex type - GetLocationsResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsResponseBase">
        <xsd:sequence>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Group" type="rct:LocationGroup" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>name - Group, type - LocationGroup from common types</xsd:documentation>
              <xsd:appinfo>
                <jaxb:property name="Groups"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Level" type="gr:LocationLevel">
            <xsd:annotation>
              <xsd:documentation>name - Level, type - LocationLevel from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GetGroupsResponse">
    <xsd:annotation>
      <xsd:documentation>Complex type - GetGroupsResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsResponseBase">
        <xsd:sequence>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Group" type="rct:Group" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>name - Group, type - Group from common types</xsd:documentation>
              <xsd:appinfo>
                <jaxb:property name="Groups"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddGroupResponse">
    <xsd:annotation>
      <xsd:documentation>Complex type - AddGroupResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsResponseBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateGroupResponse">
    <xsd:annotation>
      <xsd:documentation>Complex type - UpdateGroupResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsResponseBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeleteGroupResponse">
    <xsd:annotation>
      <xsd:documentation>Complex type - DeleteGroupResponse</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GroupsResponseBase">
        <xsd:sequence>
          <xsd:element name="GroupId" type="xsd:string" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupId, type - string</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="GroupType" type="gr:GroupType" minOccurs="1">
            <xsd:annotation>
              <xsd:documentation>name - GroupType, type - GroupType from enumeration types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GroupsRequestBase">
    <xsd:annotation>
      <xsd:documentation>Complex type - GroupsRequestBase</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="stlp:STL_Request_Payload">
        <xsd:sequence>
          <xsd:element name="UserId" type="rst:UserId">
            <xsd:annotation>
              <xsd:documentation>This is the user who is performing the action.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Carrier" type="rst:AirlineCarrier">
            <xsd:annotation>
              <xsd:documentation>name - Carrier, type - AirlineCarrier from simple types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GroupsResponseBase">
    <xsd:annotation>
      <xsd:documentation>Complex type - GroupsResponseBase</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="stlp:STL_Response_Payload">
        <xsd:sequence>
          <xsd:element name="Carrier" type="rst:AirlineCarrier">
            <xsd:annotation>
              <xsd:documentation>name - Carrier, type - AirlineCarrier from simple types</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>