Automation Anywhere/Bots/My Docs/Utilities/Sabre Web Services/InventoryManageGroupsRQv2.0.0/RulesSimpleTypes_v2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/css/ssi/rulessimpletypes/v1.0.0" version="2.0.0" jaxb:version="2.0" xmlns="http://services.sabre.com/css/ssi/rulessimpletypes/v1.0.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb">
  <xsd:simpleType name="AgentGroupId">
    <xsd:annotation>
      <xsd:documentation>6 or 8 Character Alpha Numeric Agent Group Name</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9@/#$\[%^*()\-,.]{6}|[A-Z0-9@/#$\[%^*()\-,.]{8}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AirlineCarrier">
    <xsd:annotation>
      <xsd:documentation>Airline code - 2 Character Uppercase alphanumeric</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AncillarySubcode">
    <xsd:annotation>
      <xsd:documentation>Max 4 char. Alphanumeric UpperCase.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{0,4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Date.SSI">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-9][0-9]{3}-[0-1][0-9]-[0-3][0-9]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DateTime.SSI">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-9][0-9]{3}-[0-1][0-9]-[0-3][0-9]T[0-2][0-9]:[0-5][0-9]:[0-5][0-9]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FlightGroupId">
    <xsd:annotation>
      <xsd:documentation>Name of Flight Groups. 5 Characters Numeric Only</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{5}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityId">
    <xsd:annotation>
      <xsd:documentation>3 Alpha upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AirportId">
    <xsd:annotation>
      <xsd:documentation>3 Alpha upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryId">
    <xsd:annotation>
      <xsd:documentation>2 Alpha upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryGroup">
    <xsd:annotation>
      <xsd:documentation>1,3 Alpha Numeric Upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{1,3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AirportCityGroup">
    <xsd:annotation>
      <xsd:documentation>1,3 Alpha Numeric Upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{1,3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="World">
    <xsd:annotation>
      <xsd:documentation>3 Alpha Numeric Upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Conference">
    <xsd:annotation>
      <xsd:documentation>3 Alpha Numeric Upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Region">
    <xsd:annotation>
      <xsd:documentation>3 Alpha Numeric Upper case characters</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Hours">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="23"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FareClasses">
    <xsd:annotation>
      <xsd:documentation>allowed A-Z max 26, without any duplicates</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{1,26}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FareClass">
    <xsd:annotation>
      <xsd:documentation>allowed A-Z single character string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MultipleFareClass">
    <xsd:annotation>
      <xsd:documentation>allowed A-Z single character string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{1,26}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FlightNumberIncludingGroups">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="32000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocationCode">
    <xsd:annotation>
      <xsd:documentation>2 or 3 char. Alpha UpperCase or Numeric</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocationGroupId">
    <xsd:annotation>
      <xsd:documentation>Location Group Name. 3 Character Alpha Numeric</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{1,3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaxThreeDigitInteger">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaxThreeDigitInteger1To999">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaxEightDigitInteger">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="99999999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Percent">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Minutes">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="59"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PCCGroupId">
    <xsd:annotation>
      <xsd:documentation>PCC Group Name. 3 to 22 Characters Alpha Numeric</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{3,22}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="POSGroupId">
    <xsd:annotation>
      <xsd:documentation>2 to 8 Character Alpha Numeric POS Group Name</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{2,8}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SingleCharacter">
    <xsd:annotation>
      <xsd:documentation>allowed A-X single character string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-X]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RuleId">
    <xsd:annotation>
      <xsd:documentation>rule unique id- . For example 65148.0.658176</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value=".*[^\s].*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SetMarketFareValue">
    <xsd:annotation>
      <xsd:documentation>Allowed Values should be in range 0 to 2147483646.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="2147483646"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UserId">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9]{1,16}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ComparisonOperator">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="Equal|LessThan|MoreThan"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AgentId">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9@/#$\[%^*()\-,.]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>